@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <div class="container">
        <h1 class="text-danger">Hey Foodies!</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <p>
            Something Happened along the way. <strong>Don't worry, it's from us</strong> we have logged it and are doing something it right now!. Please try again later
        </p>
    </div>